 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>员工管理系统-管理员</title>
</head>
<body bgcolor="#40E0D0">
	<p align=right><a href="/logged-out"><button>注销登录</button></a></p>
	<table class="table" border="1" cellspacing="2" cellpadding="0">
		<tr>
			<td colspan="4" class="tb1"><h1>员工管理系统-管理员</h1></td>
		</tr>
		<tr>
			<td class="tb2"><a href="/">首页</a></td>
			<td class="tb2"><a href="/welcome">管理页面</a></td>
			<td class="tb2"><a href="#news3">3</a></td>
			<td class="tb2"><a href="#/h4">关于</a></td>
		</tr>
		<tr>
			<td class="tb3">
				<table>
					<tr>
						<td class="tb5">
						</td>
					</tr>
					<tr>
						<td class="tb6">首页&nbsp上一页&nbsp下一页&nbsp尾页</td>
					</tr>
				</table>
			</td>
			<td colspan="3" class="tb4">员工详细信息...</td>
		</tr>
	</table>
</body>
</html>